.wrapper {
    max-width: 70rem;
    margin: 2rem auto; /* fica centralizado na tela */
    padding: 0 1rem; /* se diminuir para um tamanho menor que 70rem, dè uma distanciada das laterias em 1rem*/
    
    display: grid;
    grid-template-columns: 256px 1fr; /* tamanho da coluna sidebar e coluna do conteúdo */
    gap: 2rem;  /* distância entre as colunas */
    align-items: flex-start;    /* sempre alinhados para o top, para não ficarem com a mesma altura */
}

@media screen and (max-width: 768px) {
    html {
        /* 1rem = 16px então:
            16px -> 100%
            14px -> x  
            x = (14*100)/16 = 87.5%
        */
        font-size: 87.5%; 
    }
    
    .wrapper {
        grid-template-columns: 1fr;
    }
}